<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phoneharness.vdhelper">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:label="VDHelper"
        android:exported="true">

        <service
            android:name=".VDService"
            android:exported="true"
            android:foregroundServiceType="dataSync">
        </service>

        <receiver
            android:name=".ScreenshotReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.phoneharness.vdhelper.SCREENSHOT"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".PermActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
